[Unit]
Description=Pill Reserves HTTP server
After=network.target
Requires=network.target

[Service]
Environment=RUST_LOG=warn,pillreserves=debug
ExecStart=/opt/pillreserves/pillreserves
WorkingDirectory=/opt/pillreserves
User=pillreserves
PrivateNetwork=no
PrivateDevices=yes
PrivateUsers=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
CapabilityBoundingSet=
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=yes
RestrictRealtime=yes
DeviceAllow=
DevicePolicy=closed
IPAddressAllow=localhost
IPAddressDeny=any
SystemCallArchitectures=native
SystemCallFilter=@system-service
LockPersonality=yes
MemoryDenyWriteExecute=yes
ProcSubset=pid
StandardInput=null
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
